@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

#amount {
  font-size: 16px;
  font-weight: bold;
  color: #f6931f;
  background-color: $c-gray;
  border: 0;
}

.amount__label {
  font-size: 20px;
}

.slider {
  box-sizing: border-box;
  position: relative;
  width: 500px;
  height: 18px;
  margin: 20px 5px;
  border: 1px solid #c5c5c5;
  border-radius: 7px;

  &__handle {
    box-sizing: border-box;
    position: absolute;
    top: -4px;
    width: 22px;
    height: 24px;
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    border-radius: 5px;
  }

  &__handle--left {
    left: -11px;
  }

  &__handle--right {
    left: 489px;

  }

  &__range {
    position: absolute;
    box-sizing: border-box;
    height: 16px;
    width: 511px;
    border-radius: 5px;
    background-color: #696969;
  }
}
